.text-center{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.mx-auto{
    margin: auto;
}

.flex{
    display: flex;
}

.flex-col{
    flex-direction: column;
}

.item-center{
    align-items: center;
}